<main id="content" class="neve-main" role="main">
	<div class="container single-page-container">
		<div class="row">
			<div class="nv-single-page-wrap col">
				<div class="nv-content-wrap entry-content">
					<div class="is-layout-flex wp-container-6 wp-block-columns">
						<div class="is-layout-flow wp-block-column"></div>
						<div class="is-layout-flow wp-block-column"><form role="search" method="get" action="https://www.devlabsalliance.com/" class="wp-block-search__button-outside wp-block-search__text-button wp-block-search"><label for="wp-block-search__input-4" class="wp-block-search__label screen-reader-text">Search</label><div class="wp-block-search__inside-wrapper "><input type="search" id="wp-block-search__input-4" class="wp-block-search__input wp-block-search__input" name="s" value="" placeholder="" required=""><button type="submit" class="wp-block-search__button wp-element-button">Search</button></div></form></div>
					</div>
					<% @blogs.each do |blog| %>
						<div class="wp-block-qubely-postgrid qubely-block-5138e5">
							<div class="qubely-postgrid-wrapper  qubely-postgrid-layout-1">
								<div class="qubely-postgrid qubely-post-list-view qubely-postgrid-style-1">
									<div class="qubely-post-list-wrapper qubely-post-list-center">
										<div class="qubely-post-list-img qubely-post-img qubely-post-img-zoom-out">
											<a href="<%= blog_path(blog.id)%>">
											<img decoding="async" class="qubely-post-image" src="<%= blog.blog_image.url %>" alt="What Is Test Automation Framework?"></a>
										</div>
										<div class="qubely-post-list-content">
											<span class="qubely-postgrid-category"><a href="<%= blog_path(blog.id)%>"><%= blog.tags.collect(&:name).first%></a></span>
											<h2 class="qubely-postgrid-title"><a href="<%= blog_path(blog.id)%>"><%= blog.title %></a></h2>
											<div class="qubely-postgrid-meta"><span><i class="fa fa-user"></i> By <a href="https://www.devlabsalliance.com/author/admin/" title="Posts by admin" rel="author">admin</a></span><span><i class="fa fa-calendar-alt"></i> <%= blog.created_at %></span></div>
											<div class="qubely-postgrid-intro"><%= blog.heading %></div>
										</div>
									</div>
								</div>
							</div>
						</div>
					<% end %>
				</div>		
			</div>
		</div>
	</div>
</main>
<style type="text/css">
	:root {
	  --qubely-color-1: #696CFF;
	  --qubely-color-2: #04C3EC;
	  --qubely-color-3: #363636;
	  --qubely-color-4: #BBC0D4;
	  --qubely-color-5: #FFFFFF;
	}

	:root {
	  --qubely-typo1-font-size: 60px;
	  --qubely-typo1-line-height: 80px;
	  --qubely-typo1-letter-spacing: 0px;
	}

	@media (max-width: 991px) {
	  :root {
	    --qubely-typo1-letter-spacing: 0px;
	  }
	}

	:root {
	  --qubely-typo1-font-family: 'Roboto', sans-serif;
	  --qubely-typo1-font-weight: 700;
	  --qubely-typo1-font-style: normal;
	}

	:root {
	  --qubely-typo2-font-size: 48px;
	  --qubely-typo2-line-height: 64px;
	  --qubely-typo2-letter-spacing: 0px;
	}

	@media (max-width: 991px) {
	  :root {
	    --qubely-typo2-letter-spacing: 0px;
	  }
	}

	:root {
	  --qubely-typo2-font-family: 'Roboto', sans-serif;
	  --qubely-typo2-font-weight: 700;
	  --qubely-typo2-font-style: normal;
	}

	:root {
	  --qubely-typo3-font-size: 36px;
	  --qubely-typo3-line-height: 48px;
	  --qubely-typo3-letter-spacing: 0px;
	}

	@media (max-width: 991px) {
	  :root {
	    --qubely-typo3-letter-spacing: 0px;
	  }
	}

	:root {
	  --qubely-typo3-font-family: 'Roboto', sans-serif;
	  --qubely-typo3-font-weight: 700;
	  --qubely-typo3-font-style: normal;
	}

	:root {
	  --qubely-typo4-font-size: 30px;
	  --qubely-typo4-line-height: 36px;
	  --qubely-typo4-letter-spacing: 0px;
	}

	@media (max-width: 991px) {
	  :root {
	    --qubely-typo4-letter-spacing: 0px;
	  }
	}

	:root {
	  --qubely-typo4-font-family: 'Roboto', sans-serif;
	  --qubely-typo4-font-weight: 700;
	  --qubely-typo4-font-style: normal;
	}

	:root {
	  --qubely-typo5-font-size: 18px;
	  --qubely-typo5-line-height: 28px;
	  --qubely-typo5-letter-spacing: 0px;
	}

	@media (max-width: 991px) {
	  :root {
	    --qubely-typo5-letter-spacing: 0px;
	  }
	}

	:root {
	  --qubely-typo5-font-family: 'Roboto', sans-serif;
	  --qubely-typo5-font-weight: 700;
	  --qubely-typo5-font-style: normal;
	}

	:root {
	  --qubely-typo6-font-size: 16px;
	  --qubely-typo6-line-height: 24px;
	  --qubely-typo6-letter-spacing: 0px;
	}

	@media (max-width: 991px) {
	  :root {
	    --qubely-typo6-letter-spacing: 0px;
	  }
	}

	:root {
	  --qubely-typo6-font-family: 'Roboto', sans-serif;
	  --qubely-typo6-font-weight: 700;
	  --qubely-typo6-font-style: normal;
	}

	:root {
	  --qubely-typo7-font-size: 18px;
	  --qubely-typo7-line-height: 24px;
	  --qubely-typo7-letter-spacing: 0px;
	}

	@media (max-width: 991px) {
	  :root {
	    --qubely-typo7-letter-spacing: 0px;
	  }
	}

	:root {
	  --qubely-typo7-font-family: 'Roboto', sans-serif;
	}

	:root {
	  --qubely-typo8-font-size: 14px;
	  --qubely-typo8-line-height: 22px;
	  --qubely-typo8-letter-spacing: 0px;
	}

	@media (max-width: 991px) {
	  :root {
	    --qubely-typo8-letter-spacing: 0px;
	  }
	}

	:root {
	  --qubely-typo8-font-family: 'Roboto', sans-serif;
	}

	:root {
	  --qubely-typo9-font-size: 16px;
	  --qubely-typo9-line-height: 19px;
	  --qubely-typo9-letter-spacing: 3px;
	}

	@media (max-width: 991px) {
	  :root {
	    --qubely-typo9-letter-spacing: 0px;
	  }
	}

	:root {
	  --qubely-typo9-font-family: 'Roboto', sans-serif;
	  --qubely-typo9-font-weight: 700;
	  --qubely-typo9-font-style: normal;
	  --qubely-typo9-text-transform: uppercase;
	}

	:root {
	  --qubely-typo10-font-size: 14px;
	  --qubely-typo10-line-height: 19px;
	  --qubely-typo10-letter-spacing: 3px;
	}

	@media (max-width: 991px) {
	  :root {
	    --qubely-typo10-letter-spacing: 0px;
	  }
	}

	:root {
	  --qubely-typo10-font-family: 'Roboto', sans-serif;
	  --qubely-typo10-font-weight: 700;
	  --qubely-typo10-font-style: normal;
	  --qubely-typo10-text-transform: uppercase;
	}

	@media (min-width: 576px) {
	  .qubely-section .qubely-container {
	    max-width: 540px;
	  }
	}

	@media (min-width: 768px) {
	  .qubely-section .qubely-container {
	    max-width: 720px;
	  }
	}

	@media (min-width: 992px) {
	  .qubely-section .qubely-container {
	    max-width: 960px;
	  }
	}

	@media (min-width: 1200px) {
	  .qubely-section .qubely-container {
	    max-width: 1140px;
	  }
	}

	.qubely-block-5138e5 .qubely-postgrid-pagination>* {
	  padding: 0px 20px 0px 20px;
	}

	.qubely-block-5138e5 .qubely-postgrid-pagination>* {
	  margin: 20px 7px 12px 7px;
	}

	.qubely-block-5138e5 .qubely-post-list-view.qubely-postgrid-style-1:not(:last-child) {
	  border-bottom-style: solid;
	  border-bottom-width: 1px;
	}

	.qubely-block-5138e5 .qubely-post-list-view.qubely-postgrid-style-1:not(:last-child) {
	  padding-bottom: 20px;
	  margin-bottom: 20px;
	}

	.qubely-block-5138e5 .qubely-postgrid-title {
	  font-size: 32px;
	}

	.qubely-block-5138e5 .qubely-postgrid-meta {
	  font-size: 12px;
	}

	.qubely-block-5138e5 .qubely-postgrid-intro,
	.qubely-block-5138e5 .qubely-postgrid-intro p {
	  font-size: 16px;
	}

	.qubely-block-5138e5 .qubely-postgrid-category a {
	  font-size: 12px;
	  letter-spacing: 1.1px;
	}

	.qubely-block-5138e5 .qubely-post-img {
	  border-radius: 10px;
	}

	.qubely-block-5138e5 .qubely-postgrid-wrapper .qubely-postgrid .qubely-postgrid-btn {
	  font-size: 14px;
	}

	.qubely-block-5138e5 .qubely-postgrid-wrapper .qubely-postgrid .qubely-postgrid-btn {
	  border-radius: 2px;
	}

	.qubely-block-5138e5 .qubely-postgrid-category a {
	  border-radius: 2px;
	}

	.qubely-block-5138e5 {
	  padding-top: 10px;
	  padding-bottom: 10px;
	}

	.qubely-block-5138e5 .qubely-postgrid-title {
	  padding-bottom: 10px;
	}

	.qubely-block-5138e5 .qubely-postgrid-category {
	  display: inline-block;
	  padding-bottom: 5px;
	}

	.qubely-block-5138e5 .qubely-postgrid-meta {
	  padding-bottom: 10px;
	}

	.qubely-block-5138e5 .qubely-postgrid-intro {
	  padding-bottom: 10px;
	}

	.qubely-block-5138e5 .qubely-postgrid-pagination {
	  text-align: center;
	}

	.qubely-block-5138e5 .qubely-postgrid-pagination>a:hover,
	.qubely-block-5138e5 .qubely-postgrid-pagination>button:hover {
	  color: center;
	}

	.qubely-block-5138e5 .qubely-postgrid-pagination>*.current {
	  color: center;
	}

	.qubely-block-5138e5 .qubely-post-list-view.qubely-postgrid-style-1:not(:last-child) {
	  border-bottom-color: #e5e5e5;
	}

	.qubely-block-5138e5 .qubely-postgrid-title {
	  font-family: 'Roboto', sans-serif;
	}

	.qubely-block-5138e5 .qubely-postgrid-meta {
	  font-family: 'Roboto', sans-serif;
	}

	.qubely-block-5138e5 .qubely-postgrid-intro,
	.qubely-block-5138e5 .qubely-postgrid-intro p {
	  font-family: 'Roboto', sans-serif;
	}

	.qubely-block-5138e5 .qubely-postgrid-category a {
	  font-family: 'Roboto', sans-serif;
	  text-transform: uppercase;
	}

	.qubely-block-5138e5 .qubely-postgrid-wrapper .qubely-postgrid .qubely-postgrid-btn {
	  font-family: 'Roboto', sans-serif;
	}

	.qubely-block-5138e5 .qubely-postgrid-wrapper .qubely-postgrid .qubely-postgrid-btn {
	  background-image: none;
	  background-color: #2184F9;
	}

	.qubely-block-5138e5 .qubely-postgrid-title a {
	  color: #1b1b1b;
	}

	.qubely-block-5138e5 .qubely-postgrid-title a:hover {
	  color: #FF0096;
	}

	.qubely-block-5138e5 .qubely-postgrid-category a {
	  color: #FF0096;
	}

	.qubely-block-5138e5 .qubely-postgrid-category a:hover {
	  color: #FF0096;
	}

	.qubely-block-5138e5 .qubely-postgrid-meta a {
	  color: #9B9B9B;
	}

	.qubely-block-5138e5 .qubely-postgrid-meta {
	  color: #9B9B9B;
	}

	.qubely-block-5138e5 .qubely-postgrid-meta span:before {
	  background: #9B9B9B;
	}

	.qubely-block-5138e5 .qubely-postgrid-intro {
	  color: #9B9B9B;
	}

	.qubely-block-5138e5 {
	  z-index: 0;
	}
</style>
