<main id="content" class="neve-main" role="main">
  <div class="container single-page-container">
    <div class="row">
      <div class="nv-single-page-wrap col">
        <div class="nv-content-wrap entry-content">
          <div class="wp-block-cover alignfull is-light" style="min-height:700px">
              <span aria-hidden="true" class="wp-block-cover__background has-background-dim-0 has-background-dim"></span><img decoding="async" width="1366" height="768" class="wp-block-cover__image-background wp-image-3420" alt="" src="assets/main.png" style="object-position:57% 54%" data-object-fit="cover" data-object-position="57% 54%" />
              <div class="wp-block-cover__inner-container">
                  <div style="height:80px" aria-hidden="true" class="wp-block-spacer"></div>
                  <h1 class="has-text-align-center has-text-color" id="1-learn-lead-amp-succeed" style="color:#121212">Learn > Upgrade > Successed</h1>
                  <p class="has-text-align-center has-text-color" style="color:#121212;font-size:17px">Learn new skills, upgrade yourself and land your dream job with Rajeshwari Tech courses.</p>
                  <div class="is-horizontal is-content-justification-center is-layout-flex wp-container-1 wp-block-buttons">
                      <div class="wp-block-button is-style-primary"><a class="wp-block-button__link wp-element-button" href="<%= courses_path%>">Training</a></div>
                      <div class="wp-block-button is-style-secondary"><a class="wp-block-button__link wp-element-button" href="<%= consulting_services_path %>">Consulting</a></div>
                  </div>
                  <div style="height:80px" aria-hidden="true" class="wp-block-spacer"></div>
                  <div style="height:80px" aria-hidden="true" class="wp-block-spacer"></div>
              </div>
          </div>
          <div style="height:80px" aria-hidden="true" class="wp-block-spacer"></div>
          <div class="is-layout-flex wp-container-5 wp-block-columns">
              <div class="is-layout-flow wp-block-column">
                  <div class="wp-block-image icon-style is-style-rounded">
                      <figure class="aligncenter size-large"><i class="fa fa-check-circle fa-font" aria-hidden="true"></i></figure>
                  </div>
                  <h3 class="has-text-align-center has-neve-text-color-color has-text-color" id="2-consulting-amp-staffing">Consulting &amp; Staffing</h3>
                  <p class="has-text-align-center">Salesforce <span style="color:#FCAF3B;">•</span> DevOps &amp; CI/CD <span style="color:#FCAF3B;">•</span> Automation Testing <span style="color:#FCAF3B;">•</span> Robotic Process Automation <span style="color:#FCAF3B;">•</span> Agile Consulting <span style="color:#FCAF3B;">•</span> Java &amp; Dot Net Tech <span style="color:#FCAF3B;">•</span> Mobile Development</p>
                  <div style="height:20px" aria-hidden="true" class="wp-block-spacer"></div>
              </div>
              <div class="is-layout-flow wp-block-column">
                  <div class="wp-block-image icon-style is-style-rounded">
                      <figure class="aligncenter size-large"><i class="fa fa-university fa-font" aria-hidden="true"></i></figure>
                  </div>
                  <h3 class="has-text-align-center has-neve-text-color-color has-text-color" id="3-offshore-development">Offshore Development</h3>
                  <p class="has-text-align-center">Wide variety of technical skillsets across multiple domains <span style="color:#FCAF3B;">•</span> Seasoned Project/Program Management Staff for executing large sized projects</p>
                  <div style="height:20px" aria-hidden="true" class="wp-block-spacer"></div>
              </div>
              <div class="is-layout-flow wp-block-column">
                  <div class="wp-block-image icon-style is-style-rounded">
                      <figure class="aligncenter size-large"><i class="fa fa-briefcase fa-font" aria-hidden="true"></i></figure>
                  </div>
                  <h3 class="has-text-align-center has-neve-text-color-color has-text-color" id="4-corporate-training">Corporate Training</h3>
                  <p class="has-text-align-center">SDET &amp; Automation <span style="color:#FCAF3B;">•</span> Performance Testing <span style="color:#FCAF3B;">•</span> DevOps <span style="color:#FCAF3B;">•</span> Robotics Process Automation <span style="color:#FCAF3B;">•</span> Data Sciences and Machine Learning <span style="color:#FCAF3B;">•</span> Mobile Automation <span style="color:#FCAF3B;">•</span> SAFe® <span style="color:#FCAF3B;">•</span> Soft Skills</p>
                  <div style="height:20px" aria-hidden="true" class="wp-block-spacer"></div>
              </div>
          </div>
          <div style="height:30px" aria-hidden="true" class="wp-block-spacer"></div>
          <div class="wp-block-cover alignfull" style="min-height:574px">
            <span aria-hidden="true" class="wp-block-cover__background has-nv-light-bg-background-color has-background-dim-100 has-background-dim"></span>
            <div class="wp-block-cover__inner-container">
              <div class="is-layout-flow wp-block-group">
                <div class="wp-block-group__inner-container">
                  <div style="height:23px" aria-hidden="true" class="wp-block-spacer"></div>
                  <div class="is-layout-flex wp-container-9 wp-block-columns are-vertically-aligned-center">
                    <div class="is-layout-flow wp-block-column is-vertically-aligned-center" style="flex-basis:50%">
                      <figure class="wp-block-image size-full">
                        <img decoding="async" loading="lazy" width="600" height="411" src="<%= asset_path('corporate-trainings.png')%>" alt="" class="wp-image-2622" sizes="(max-width: 600px) 100vw, 600px" />
                      </figure>
                    </div>
                    <div class="is-layout-flow wp-block-column is-vertically-aligned-center" style="flex-basis:50%">
                      <div style="height:20px" aria-hidden="true" class="wp-block-spacer"></div>
                      <h2 class="has-text-align-left has-neve-text-color-color has-text-color" id="5-training-services">Training Services</h2>
                      <p class="has-text-align-left has-neve-text-color-color has-text-color" style="font-size:17px">Classroom &amp; live Instructor-led training programs across wide variety of cutting edge technologies tailored for organizations as well as individual technology professionals</p>
                      <div class="is-horizontal is-content-justification-left is-layout-flex wp-container-7 wp-block-buttons">
                        <div class="wp-block-button is-style-primary"><a class="wp-block-button__link wp-element-button" href="courses/index.html">LEARN MORE</a></div>
                      </div>
                    </div>
                  </div>
                  <div style="height:16px" aria-hidden="true" class="wp-block-spacer"></div>
                </div>
              </div>
            </div>
          </div>
          <div class="wp-block-cover alignfull" style="min-height:600px">
            <span aria-hidden="true" class="wp-block-cover__background has-nv-site-bg-background-color has-background-dim-100 has-background-dim"></span>
            <div class="wp-block-cover__inner-container">
              <div class="is-layout-flow wp-block-group">
                <div class="wp-block-group__inner-container">
                  <div style="height:1px" aria-hidden="true" class="wp-block-spacer"></div>
                  <div class="is-layout-flex wp-container-14 wp-block-columns are-vertically-aligned-center">
                    <div class="is-layout-flow wp-block-column is-vertically-aligned-center" style="flex-basis:50%">
                      <h2 class="has-text-align-left has-neve-text-color-color has-text-color" id="6-consulting-services">Consulting Services</h2>
                      <p class="has-text-align-left has-neve-text-color-color has-text-color" style="font-size:17px">Guide/Handhold customers for better managing their IT landscape/Technologies to support business goals and objectives, achieve efficiencies and quality output and reduce costs in the longer run.</p>
                      <div class="is-horizontal is-content-justification-left is-layout-flex wp-container-11 wp-block-buttons">
                        <div class="wp-block-button is-style-primary"><a class="wp-block-button__link wp-element-button" href="consulting-services/index.html">LEARN MORE</a></div>
                      </div>
                      <div style="height:40px" aria-hidden="true" class="wp-block-spacer"></div>
                    </div>
                    <div class="is-layout-flow wp-block-column is-vertically-aligned-center" style="flex-basis:50%">
                      <figure class="wp-block-image size-large"><img decoding="async" loading="lazy" width="602" height="411" src="<%= asset_path('consulting-services.jpg')%>"alt="" class="wp-image-347" sizes="(max-width: 602px) 100vw, 602px" /></figure>
                    </div>
                  </div>
                </div>
              </div>
              <p></p>
            </div>
          </div>
          <div class="wp-block-qubely-infobox qubely-block-0f24d2">
            <div class="qubely-block-info-box  qubely-info-box-layout-4">
              <div class="qubely-info-box-body">
                <div class="qubely-info-box-title-container qubely-has-separator qubely-separator-position-bottom">
                  <div class="qubely-info-box-title-inner">
                    <h2 class="qubely-info-box-title">Top in Demand Courses</h2>
                    <div class="qubely-separator qubely-separator-after"><span class="qubely-separator-type-css qubely-separator-solid"></span></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="nv-content-wrap entry-content">
            <div class="is-layout-flex wp-container-7 wp-block-columns">
              <div class="is-layout-flow wp-block-column">
                <div class="wp-block-qubely-infobox qubely-block-3ec533">
                  <div class="qubely-block-info-box  qubely-info-box-layout-1"><div class="qubely-info-box-media qubely-media-has-bg"><img decoding="async" class="qubely-info-box-image" src="/assets/certified-sdet-professional.jpg" srcset="" alt=""></div><div class="qubely-info-box-body"><div class="qubely-info-box-title-container  qubely-separator-position-top"><div class="qubely-info-box-title-inner"><h2 class="qubely-info-box-title"><a href="<%= blogs_path %>">Training<br><br></a></h2></div></div><div class="qubely-info-box-content"><div class="qubely-info-box-text"></div></div></div></div>
                </div>
              </div>
              <div class="is-layout-flow wp-block-column">
                <div class="wp-block-qubely-infobox qubely-block-3ec533">
                  <div class="qubely-block-info-box  qubely-info-box-layout-1"><div class="qubely-info-box-media qubely-media-has-bg"><img decoding="async" class="qubely-info-box-image" src="/assets/certified-sdet-professional.jpg" srcset="" alt=""></div><div class="qubely-info-box-body"><div class="qubely-info-box-title-container  qubely-separator-position-top"><div class="qubely-info-box-title-inner"><h2 class="qubely-info-box-title"><a href="<%= blogs_path %>">Technical Articles<br><br></a></h2></div></div><div class="qubely-info-box-content"><div class="qubely-info-box-text"></div></div></div></div>
                </div>
              </div>
              <div class="is-layout-flow wp-block-column">
                <div class="wp-block-qubely-infobox qubely-block-3ec533">
                  <div class="qubely-block-info-box  qubely-info-box-layout-1"><div class="qubely-info-box-media qubely-media-has-bg"><img decoding="async" class="qubely-info-box-image" src="/assets/certified-sdet-professional.jpg" srcset="" alt=""></div><div class="qubely-info-box-body"><div class="qubely-info-box-title-container  qubely-separator-position-top"><div class="qubely-info-box-title-inner"><h2 class="qubely-info-box-title"><a href="<%= blogs_path %>">Consulting Services<br><br></a></h2></div></div><div class="qubely-info-box-content"><div class="qubely-info-box-text"></div></div></div></div>
                </div>
              </div>
              <div class="is-layout-flow wp-block-column">
                <div class="wp-block-qubely-infobox qubely-block-212ff8">
                  <div class="qubely-block-info-box  qubely-info-box-layout-1"><div class="qubely-info-box-media qubely-media-has-bg"><img decoding="async" class="qubely-info-box-image" src="/assets/certified-sdet-professional.jpg" srcset="" alt=""></div><div class="qubely-info-box-body"><div class="qubely-info-box-title-container  qubely-separator-position-top"><div class="qubely-info-box-title-inner"><h2 class="qubely-info-box-title"><a href="<%= blogs_path %>">Freelance<br><br></a></h2></div></div><div class="qubely-info-box-content"><div class="qubely-info-box-text"> </div></div></div></div>
                </div>
              </div>
              <div class="is-layout-flow wp-block-column">
                <div class="wp-block-qubely-infobox qubely-block-3ec533">
                  <div class="qubely-block-info-box  qubely-info-box-layout-1"><div class="qubely-info-box-media qubely-media-has-bg"><img decoding="async" class="qubely-info-box-image" src="/assets/certified-sdet-professional.jpg" srcset="" alt=""></div><div class="qubely-info-box-body"><div class="qubely-info-box-title-container  qubely-separator-position-top"><div class="qubely-info-box-title-inner"><h2 class="qubely-info-box-title"><a href="<%= blogs_path %>">Blogs<br><br></a></h2></div></div><div class="qubely-info-box-content"><div class="qubely-info-box-text"></div></div></div></div>
                </div>
              </div>
            </div>
          </div>
          <div style="height:36px" aria-hidden="true" class="wp-block-spacer"></div>
          <div class="wp-block-qubely-infobox qubely-block-3b9cfe">
            <div class="qubely-block-info-box  qubely-info-box-layout-4">
              <div class="qubely-info-box-body">
                <div class="qubely-info-box-title-container qubely-has-separator qubely-separator-position-bottom">
                  <div class="qubely-info-box-title-inner">
                    <h2 class="qubely-info-box-title">Our Value Prepositions</h2>
                    <div class="qubely-separator qubely-separator-after"><span class="qubely-separator-type-css qubely-separator-solid"></span></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="is-layout-flex wp-container-29 wp-block-columns">
            <div class="is-layout-flow wp-block-column">
              <div class="wp-block-image icon-style is-style-rounded">
                  <figure class="aligncenter size-large"><img decoding="async" loading="lazy" width="90" height="90" src="assets/handson-workshop.jpg" alt="" class="wp-image-371" title=""/></figure>
              </div>
              <h3 class="has-text-align-center has-neve-text-color-color has-text-color" id="7-hands-on-workshop">Hands-on Workshop</h3>
              <p class="has-text-align-center">Our classroom training cum workshop sessions are engaging and practical oriented by industry experts.</p>
              <div style="height:20px" aria-hidden="true" class="wp-block-spacer"></div>
            </div>
            <div class="is-layout-flow wp-block-column">
              <div class="wp-block-image icon-style is-style-rounded">
                <figure class="aligncenter size-large is-resized"><img decoding="async" loading="lazy" src="assets/small-batch-size.jpg" alt="" class="wp-image-372" width="90" height="90"/></figure>
              </div>
              <h3 class="has-text-align-center has-neve-text-color-color has-text-color" id="8-small-batch-size">Small Batch Size</h3>
              <p class="has-text-align-center">We have limited batch size to ensure better understanding and enhanced interaction with the trainer.</p>
              <div style="height:20px" aria-hidden="true" class="wp-block-spacer"></div>
            </div>
            <div class="is-layout-flow wp-block-column">
              <div class="wp-block-image icon-style is-style-rounded">
                <figure class="aligncenter size-large"><img decoding="async" loading="lazy" width="90" height="90" src="assets/learn-from-inductry-practitioners.jpg" alt="" class="wp-image-373"/></figure>
              </div>
              <h3 class="has-text-align-center has-neve-text-color-color has-text-color" id="9-learn-from-industry-practitioners">Learn From Industry Practitioners</h3>
              <p class="has-text-align-center">Our trainers are subject matter experts and practitioners from the industry and give you an experience to work on real-time use cases.</p>
              <div style="height:20px" aria-hidden="true" class="wp-block-spacer"></div>
            </div>
          </div>
          <div class="is-layout-flex wp-container-33 wp-block-columns">
            <div class="is-layout-flow wp-block-column">
              <div class="wp-block-image icon-style is-style-rounded">
                <figure class="aligncenter size-large"><img decoding="async" loading="lazy" width="90" height="90" src="assets/latest-course-curriculum.jpg" alt="" class="wp-image-374" title=""/></figure>
              </div>
              <h3 class="has-text-align-center has-neve-text-color-color has-text-color" id="10-latest-course-curriculum">Latest Course Curriculum</h3>
              <p class="has-text-align-center">Our course curriculum is designed by seasoned professionals and aligned to industry standards. Regular updates are happening to keep the content in sync with the latest IT trends.</p>
              <div style="height:20px" aria-hidden="true" class="wp-block-spacer"></div>
            </div>
            <div class="is-layout-flow wp-block-column">
              <div class="wp-block-image icon-style is-style-rounded">
                <figure class="aligncenter size-large"><img decoding="async" loading="lazy" width="90" height="90" src="assets/career-counselling.jpg" alt="" class="wp-image-375"/></figure>
              </div>
              <h3 class="has-text-align-center has-neve-text-color-color has-text-color" id="11-career-counselling">Career Counselling</h3>
              <p class="has-text-align-center">Based on your career aspirations, we conduct one-to-one discussions with our experts &amp; professionals and they can assist you to choose the right career path.</p>
              <div style="height:20px" aria-hidden="true" class="wp-block-spacer"></div>
              <p></p>
            </div>
            <div class="is-layout-flow wp-block-column">
              <div class="wp-block-image icon-style is-style-rounded">
                <figure class="aligncenter size-large"><img decoding="async" loading="lazy" width="90" height="90" src="assets/placement-assistance.jpg" alt="" class="wp-image-376"/></figure>
              </div>
              <h3 class="has-text-align-center has-neve-text-color-color has-text-color" id="12-placement-assistance">Placement Assistance</h3>
              <p class="has-text-align-center">We have strong connections and partnerships with multiple clients all around the world. We offer placement assistance to the professionals and students on the successful completion of the course.</p>
              <div style="height:20px" aria-hidden="true" class="wp-block-spacer"></div>
            </div>
          </div>
          <div class="wp-block-cover alignfull" style="min-height:199px">
            <span aria-hidden="true" class="wp-block-cover__background has-neve-link-color-background-color has-background-dim-100 has-background-dim"></span>
            <div class="wp-block-cover__inner-container">
              <p class="has-text-align-center has-large-font-size">India’s most preferred workshop oriented courses</p>
              <p class="has-text-align-center">DevLabs Alliance offers career transformational courses that not only help in clearing the concepts and terminologies but also provide extensive hands-on experience through assignments, real case studies and live projects.</p>
              <div class="is-layout-flex wp-container-37 wp-block-columns">
                <div class="is-layout-flow wp-block-column">
                  <p class="has-text-align-center has-nv-text-dark-bg-color has-text-color" style="font-size:11px"><img decoding="async" style="width: 30px;" src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' aria-hidden='true' focusable='false' width='0.88em' height='1em' style='-ms-transform: rotate(360deg); -webkit-transform: rotate(360deg); transform: rotate(360deg);' preserveAspectRatio='xMidYMid meet' viewBox='0 0 448 512'%3E%3Cpath d='M313.6 304c-28.7 0-42.5 16-89.6 16c-47.1 0-60.8-16-89.6-16C60.2 304 0 364.2 0 438.4V464c0 26.5 21.5 48 48 48h352c26.5 0 48-21.5 48-48v-25.6c0-74.2-60.2-134.4-134.4-134.4zM400 464H48v-25.6c0-47.6 38.8-86.4 86.4-86.4c14.6 0 38.3 16 89.6 16c51.7 0 74.9-16 89.6-16c47.6 0 86.4 38.8 86.4 86.4V464zM224 288c79.5 0 144-64.5 144-144S303.5 0 224 0S80 64.5 80 144s64.5 144 144 144zm0-240c52.9 0 96 43.1 96 96s-43.1 96-96 96s-96-43.1-96-96s43.1-96 96-96z' fill='%23ffffff'/%3E%3C/svg%3E" alt=""><span style="font-size:40px; margin-top:-20px;"> | 50+</span><br><span style="font-size:20px; margin-top:-20px;">CORPORATE CLIENTS</span></p>
                </div>
                <div class="is-layout-flow wp-block-column">
                  <p class="has-text-align-center has-nv-text-dark-bg-color has-text-color" style="font-size:11px"><img decoding="async" style="width: 30px;" src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' aria-hidden='true' focusable='false' width='0.88em' height='1em' style='-ms-transform: rotate(360deg); -webkit-transform: rotate(360deg); transform: rotate(360deg);' preserveAspectRatio='xMidYMid meet' viewBox='0 0 448 512'%3E%3Cpath d='M313.6 304c-28.7 0-42.5 16-89.6 16c-47.1 0-60.8-16-89.6-16C60.2 304 0 364.2 0 438.4V464c0 26.5 21.5 48 48 48h352c26.5 0 48-21.5 48-48v-25.6c0-74.2-60.2-134.4-134.4-134.4zM400 464H48v-25.6c0-47.6 38.8-86.4 86.4-86.4c14.6 0 38.3 16 89.6 16c51.7 0 74.9-16 89.6-16c47.6 0 86.4 38.8 86.4 86.4V464zM224 288c79.5 0 144-64.5 144-144S303.5 0 224 0S80 64.5 80 144s64.5 144 144 144zm0-240c52.9 0 96 43.1 96 96s-43.1 96-96 96s-96-43.1-96-96s43.1-96 96-96z' fill='%23ffffff'/%3E%3C/svg%3E" alt=""><span style="font-size:40px; margin-top:-20px;"> | 100K+</span><br><span style="font-size:20px; margin-top:-20px;">HAPPY STUDENTS</span></p>
                </div>
                <div class="is-layout-flow wp-block-column">
                  <p class="has-text-align-center has-nv-text-dark-bg-color has-text-color" style="font-size:11px"><img decoding="async" style="width: 30px;" src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' aria-hidden='true' focusable='false' width='0.88em' height='1em' style='-ms-transform: rotate(360deg); -webkit-transform: rotate(360deg); transform: rotate(360deg);' preserveAspectRatio='xMidYMid meet' viewBox='0 0 448 512'%3E%3Cpath d='M313.6 304c-28.7 0-42.5 16-89.6 16c-47.1 0-60.8-16-89.6-16C60.2 304 0 364.2 0 438.4V464c0 26.5 21.5 48 48 48h352c26.5 0 48-21.5 48-48v-25.6c0-74.2-60.2-134.4-134.4-134.4zM400 464H48v-25.6c0-47.6 38.8-86.4 86.4-86.4c14.6 0 38.3 16 89.6 16c51.7 0 74.9-16 89.6-16c47.6 0 86.4 38.8 86.4 86.4V464zM224 288c79.5 0 144-64.5 144-144S303.5 0 224 0S80 64.5 80 144s64.5 144 144 144zm0-240c52.9 0 96 43.1 96 96s-43.1 96-96 96s-96-43.1-96-96s43.1-96 96-96z' fill='%23ffffff'/%3E%3C/svg%3E" alt=""><span style="font-size:40px; margin-top:-20px;"> | 1M+</span><br><span style="font-size:20px; margin-top:-20px;">TRAINING HOURS DELIVERED</span></p>
                </div>
              </div>
            </div>
          </div>
          <div style="height:42px" aria-hidden="true" class="wp-block-spacer"></div>
          <div class="wp-block-qubely-infobox qubely-block-a2b4f1">
            <div class="qubely-block-info-box  qubely-info-box-layout-4">
              <div class="qubely-info-box-body">
                <div class="qubely-info-box-title-container qubely-has-separator qubely-separator-position-bottom">
                  <div class="qubely-info-box-title-inner">
                    <h2 class="qubely-info-box-title">Latest from our Blog</h2>
                    <div class="qubely-separator qubely-separator-after"><span class="qubely-separator-type-css qubely-separator-solid"></span></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="wp-block-qubely-postgrid qubely-block-8c3375">
            <div class="qubely-postgrid-wrapper  qubely-postgrid-layout-2 qubely-postgrid-column qubely-postgrid-column-md4 qubely-postgrid-column-sm2 qubely-postgrid-column-xs1" >
              <div class="qubely-postgrid qubely-post-grid-view qubely-postgrid-style-2">
                <div class="qubely-post-grid-wrapper qubely-post-grid-center">
                  <div class="qubely-post-grid-img qubely-post-img qubely-post-img-zoom-out"><a href="what-is-test-automation-framework/index.html"><img decoding="async" class="qubely-post-image" src="assets/what-is-test-automation-framework.jpg" alt="What Is Test Automation Framework?"/></a></div>
                  <div class="qubely-post-grid-content">
                    <span class="qubely-postgrid-category"><a href="category/selenium/index.html" rel="category tag">Selenium</a></span>
                    <h2 class="qubely-postgrid-title"><a href="what-is-test-automation-framework/index.html">What Is Test Automation Framework?</a></h2>
                    <div class="qubely-postgrid-meta"><span><i class="fa fa-calendar-alt"></i> August 13, 2022</span></div>
                    <div class="qubely-postgrid-intro">A test automation framework is a cluster of guidelines for developing and designing test cases. It is a conceptual aspect </div>
                  </div>
                </div>
              </div>
              <div class="qubely-postgrid qubely-post-grid-view qubely-postgrid-style-2">
                <div class="qubely-post-grid-wrapper qubely-post-grid-center">
                  <div class="qubely-post-grid-img qubely-post-img qubely-post-img-zoom-out"><a href="what-is-unittest-in-python/index.html"><img decoding="async" class="qubely-post-image" src="assets/what-is-unittest-in-python.jpg" alt="What Is Unittest In Python?"/></a></div>
                  <div class="qubely-post-grid-content">
                    <span class="qubely-postgrid-category"><a href="category/python/index.html" rel="category tag">Python</a></span>
                    <h2 class="qubely-postgrid-title"><a href="what-is-unittest-in-python/index.html">What Is Unittest In Python?</a></h2>
                    <div class="qubely-postgrid-meta"><span><i class="fa fa-calendar-alt"></i> August 4, 2022</span></div>
                    <div class="qubely-postgrid-intro">The idea of Unittest in Python is that we check each small piece of our program independently to ensure that </div>
                  </div>
                </div>
              </div>
              <div class="qubely-postgrid qubely-post-grid-view qubely-postgrid-style-2">
                <div class="qubely-post-grid-wrapper qubely-post-grid-center">
                  <div class="qubely-post-grid-img qubely-post-img qubely-post-img-zoom-out"><a href="cicd-and-its-best-practices/index.html"><img decoding="async" class="qubely-post-image" src="assets/CICD-and-its-best-practices.jpg" alt="CICD And Its Best Practices"/></a></div>
                  <div class="qubely-post-grid-content">
                    <span class="qubely-postgrid-category"><a href="category/devops/index.html" rel="category tag">DevOps</a></span>
                    <h2 class="qubely-postgrid-title"><a href="cicd-and-its-best-practices/index.html">CICD And Its Best Practices</a></h2>
                    <div class="qubely-postgrid-meta"><span><i class="fa fa-calendar-alt"></i> July 26, 2022</span></div>
                    <div class="qubely-postgrid-intro">Any successful DevOps methodology relies on continuous integration and delivery CICD best practices that must be followed by teams who </div>
                  </div>
                </div>
              </div>
              <div class="qubely-postgrid qubely-post-grid-view qubely-postgrid-style-2">
                <div class="qubely-post-grid-wrapper qubely-post-grid-center">
                  <div class="qubely-post-grid-img qubely-post-img qubely-post-img-zoom-out"><a href="how-to-do-headless-browser-testing-in-selenium/index.html"><img decoding="async" class="qubely-post-image" src="assets/headless-browser-testing-in-selenium.jpg" alt="How to do Headless Browser Testing in Selenium?"/></a></div>
                  <div class="qubely-post-grid-content">
                    <span class="qubely-postgrid-category"><a href="category/selenium/index.html" rel="category tag">Selenium</a></span>
                    <h2 class="qubely-postgrid-title"><a href="how-to-do-headless-browser-testing-in-selenium/index.html">How to do Headless Browser Testing in Selenium?</a></h2>
                    <div class="qubely-postgrid-meta"><span><i class="fa fa-calendar-alt"></i> July 8, 2022</span></div>
                    <div class="qubely-postgrid-intro">Selenium is a set of tools that lets you write automated tests for web applications in various programing languages</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <p></p>
          <div class="wp-block-cover alignfull" style="min-height:600px">
            <span aria-hidden="true" class="wp-block-cover__background has-nv-dark-bg-background-color has-background-dim-100 has-background-dim"></span>
            <div class="wp-block-cover__inner-container">
              <div class="is-layout-flow wp-block-group">
                <div class="wp-block-group__inner-container">
                  <div style="height:80px" aria-hidden="true" class="wp-block-spacer"></div>
                  <div class="is-layout-flex wp-container-42 wp-block-columns are-vertically-aligned-center">
                    <div class="is-layout-flow wp-block-column is-vertically-aligned-center" style="flex-basis:50%">
                      <figure class="wp-block-image size-large"><img decoding="async" loading="lazy" width="600" height="600" src="assets/neve-web-design-bg-08.jpg" alt="" class="wp-image-35"/></figure>
                    </div>
                    <div class="is-layout-flow wp-block-column is-vertically-aligned-center" style="flex-basis:50%">
                      <div style="height:40px" aria-hidden="true" class="wp-block-spacer"></div>
                      <h2 class="has-text-align-left has-nv-text-dark-bg-color has-text-color" id="13-we-are-driven-by-values">We are driven by values</h2>
                      <p class="has-text-align-left has-nv-text-dark-bg-color has-text-color" style="font-size:17px">Diversity, Integrity, Compassion, and Excellence (DICE) are core values of Devlabs Alliance. These are part of our culture and they are always reflected in our planning and execution.</p>
                      <div class="is-horizontal is-content-justification-left is-layout-flex wp-container-40 wp-block-buttons">
                        <div class="wp-block-button is-style-primary"><a class="wp-block-button__link wp-element-button" href="#">LEARN MORE</a></div>
                      </div>
                    </div>
                  </div>
                  <div style="height:40px" aria-hidden="true" class="wp-block-spacer"></div>
                </div>
              </div>
            </div>
          </div>
          <div style="height:40px" aria-hidden="true" class="wp-block-spacer"></div>
          <div class="wp-block-cover alignfull" style="min-height:420px">
            <span aria-hidden="true" class="wp-block-cover__background has-nv-light-bg-background-color has-background-dim-100 has-background-dim"></span>
            <div class="wp-block-cover__inner-container">
              <div style="height:80px" aria-hidden="true" class="wp-block-spacer"></div>
              <div class="is-layout-flex wp-container-47 wp-block-columns">
                <div class="is-layout-flow wp-block-column ticss-4ce656f1">
                  <figure class="wp-block-image size-full is-resized is-style-rounded"><img decoding="async" loading="lazy" src="assets/testimonial-4-120x120-1.png" alt="" class="wp-image-2480" width="80" height="80"/></figure>
                  <p class="has-text-align-left has-neve-text-color-color has-text-color has-normal-font-size">“SDET Foundation course was phenomenal and now I am able to do automation for web and API. It really helped me grow on the professional front and would recommend it to other manual testers.”</p>
                  <p class="has-neve-text-color-color has-text-color">RICHA DANGI</p>
                  <div style="height:20px" aria-hidden="true" class="wp-block-spacer"></div>
                </div>
                <div class="is-layout-flow wp-block-column ticss-f6fc7494">
                  <figure class="wp-block-image size-full is-resized is-style-rounded"><img decoding="async" loading="lazy" src="assets/testimonial-5-120x120-1.png" alt="" class="wp-image-2482" width="80" height="80"/></figure>
                  <p class="has-text-align-left has-neve-text-color-color has-text-color has-normal-font-size">“I have completed DevOps training from DevLabs Alliance. It covered everything in DevOps culture like Jenkins, GIT, Docker, Selenium with a proper hands-on session which was very helpful in better understanding”</p>
                  <p class="has-neve-text-color-color has-text-color">GARIMA CHAUDHARY</p>
                  <div style="height:20px" aria-hidden="true" class="wp-block-spacer"></div>
                </div>
                <div class="is-layout-flow wp-block-column ticss-a5b4df29">
                  <figure class="wp-block-image size-full is-resized is-style-rounded"><img decoding="async" loading="lazy" src="assets/testimonial-6-120x120-1.png" alt="" class="wp-image-2484" width="80" height="80"/></figure>
                  <p class="has-text-align-left has-neve-text-color-color has-text-color has-normal-font-size">“Eye-opener session, on Certified DevOps Professional, very good organized and planned and delivered.”</p>
                  <p class="has-neve-text-color-color has-text-color">JOGINDER DAHIYA</p>
                  <div style="height:20px" aria-hidden="true" class="wp-block-spacer"></div>
                </div>
              </div>
              <div style="height:30px" aria-hidden="true" class="wp-block-spacer"></div>
            </div>
          </div>
          <div class="wp-block-cover alignfull" style="min-height:300px">
            <span aria-hidden="true" class="wp-block-cover__background has-nv-dark-bg-background-color has-background-dim-100 has-background-dim"></span>
            <div class="wp-block-cover__inner-container">
              <div style="height:140px" aria-hidden="true" class="wp-block-spacer"></div>
              <h2 class="has-text-align-center has-nv-text-dark-bg-color has-text-color" id="14-let%E2%80%99s-work-together-on-your--next-project">Let’s work together on your <br>next project</h2>
              <div role="form" class="wpcf7" id="wpcf7-f2624-p5-o7" lang="en-US" dir="ltr">
                <div class="screen-reader-response">
                  <p role="status" aria-live="polite" aria-atomic="true"></p>
                  <ul></ul>
                </div>
                <form action="/#wpcf7-f2624-p5-o7" method="post" class="wpcf7-form init" novalidate="novalidate" data-status="init">
                  <div style="display: none;">
                    <input type="hidden" name="_wpcf7" value="2624" />
                    <input type="hidden" name="_wpcf7_version" value="5.6.4" />
                    <input type="hidden" name="_wpcf7_locale" value="en_US" />
                    <input type="hidden" name="_wpcf7_unit_tag" value="wpcf7-f2624-p5-o7" />
                    <input type="hidden" name="_wpcf7_container_post" value="5" />
                    <input type="hidden" name="_wpcf7_posted_data_hash" value="" />
                    <input type="hidden" name="_wpcf7_recaptcha_response" value="" />
                  </div>
                  <div style='display:none;'><input type="hidden" name="leadsquared-mx_Form_Name" value="DLA - Home Page Form" class="wpcf7-form-control wpcf7-hidden" /></div>
                  <div id="responsive-form" class="clearfix">
                    <div class="form-row">
                      <div class="column-onethird">Name <span class="wpcf7-form-control-wrap" data-name="Name"><input type="text" name="Name" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required" aria-required="true" aria-invalid="false" placeholder="Name*" /></span></div>
                      <div class="column-onethird">Phone <span class="wpcf7-form-control-wrap" data-name="your-phone"><input type="text" name="your-phone" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required" aria-required="true" aria-invalid="false" /></span></div>
                      <div class="column-onethird">Work Email* <span class="wpcf7-form-control-wrap" data-name="EmailID"><input type="email" name="EmailID" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-email wpcf7-validates-as-required wpcf7-validates-as-email" aria-required="true" aria-invalid="false" placeholder="Email*" /></span></div>
                    </div>
                    <div class="form-row">
                      <div class="column-full submit-center"><input type="submit" value="Submit" class="wpcf7-form-control has-spinner wpcf7-submit" /></div>
                    </div>
                  </div>
                  <input type='hidden' class='wpcf7-pum' value='{"closepopup":false,"closedelay":0,"openpopup":false,"openpopup_id":0}' />
                  <div class="wpcf7-response-output" aria-hidden="true"></div>
                </form>
              </div>
              <div class="is-horizontal is-content-justification-center is-layout-flex wp-container-48 wp-block-buttons"></div>
              <div style="height:140px" aria-hidden="true" class="wp-block-spacer"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
<style type="text/css">
  .fa-font{
    font-size: 72px;
  }
  .wp-block-button__link{
    color: #fffff !important;
  }
  .qubely-block-0f24d2{
    position: relative;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .qubely-info-box-layout-4{
    padding: 0px 0px 15px 0px;
    text-align: center;
  }
  .qubely-info-box-title-inner{
    margin-top: 10px;
  }
  .qubely-info-box-title{
    font-size: 38px;
    text-align: center;
  }
  .qubely-block-info-box .qubely-separator{
    margin-top: 10px;
  }
  .qubely-separator-type-css{
    border-top-width: 3px;
    border-top-color: #134668;
    width: 60px;
    border-top-style: solid;
  }
  .qubely-block-8c3375 {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .qubely-block-8c3375 .qubely-postgrid-column {
    grid-column-gap: 30px;
  }

  @media (min-width: 1299px){
    .qubely-postgrid-column-md4 {
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }
  }
  .qubely-block-8c3375 .qubely-postgrid-style-2 {
      box-shadow: 0px 4px 8px 0px rgb(0 0 0 / 10%);
  }

  .qubely-block-8c3375 .qubely-postgrid-style-2 {
      padding: 15px;
  }
  .qubely-block-8c3375 .qubely-postgrid-style-2 {
      border-radius: 10px;
  }
  .qubely-post-img, .qubely-postgrid {
      position: relative;
  }
  .qubely-block-8c3375 .qubely-post-img {
    border-radius: 10px;
}
.qubely-post-img {
    overflow: hidden;
}
.qubely-post-img, .qubely-postgrid {
    position: relative;
}
.qubely-block-8c3375 .qubely-postgrid-category {
    display: inline-block;
    padding-bottom: 5px;
}
.qubely-block-8c3375 .qubely-postgrid-title {
  font-size: 20px;
  line-height: 20px;
}

.qubely-block-8c3375 .qubely-postgrid-title {
    padding-bottom: 10px;
}
.qubely-postgrid .qubely-postgrid-title {
    margin: 0!important;
    line-height: 1;
    font-size: 
}
.qubely-block-8c3375 .qubely-postgrid-meta {
    color: #9B9B9B;
}

.qubely-block-8c3375 .qubely-postgrid-meta {
    font-family: 'Roboto',sans-serif;
}
.qubely-block-8c3375 .qubely-postgrid-meta {
    padding-bottom: 10px;
}
.qubely-block-8c3375 .qubely-postgrid-meta {
    font-size: 12px;
}
</style>
